.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.BodyIngreso{
  background-image: url(./IMG/fondoInicio.jpg);
  height: 800px;
  background-size: cover;
}
.cuadroIngreso{
  margin-top: 13%;
  padding: 45px 5px 45px 5px;
  background-color: rgba(245, 245, 245, 0.328);
  border-radius: 15px;

}

.nav{
    z-index: 1;
    border-bottom: double grey 5px;
}

.boton{
  width: 25%;
  border-radius: 25px;
  border: solid white 3px;
}